
  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <a routerLink="" class="brand-logo">AWS</a>
      <ul id="nav-mobile" class="right">
        <li *ngIf="!enableLogout" routerLinkActive="active"><a routerLink="/login">Login</a></li>
        <li *ngIf="enableLogout" routerLinkActive="active"><a routerLink="/services">Services</a></li>
        <li *ngIf="enableLogout"><a (click)="login()">Logout</a></li>
      </ul>
    </div>
  </nav>
        
<div class="container">
    <router-outlet></router-outlet>
</div>
